<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Basics Of Meditation</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step 1.</h3>
                <div class="subheading mb-3">Finding a Meditation Spot</div>
                <p>Find a private spot that is free from any external disturbance, you should feel peaceful, comfortable and safe in this place. After picking the place, make sure it is clean, neat and a well lit place.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step 2.</h3>
                <div class="subheading mb-3">Sitting in a comfortable position</div>
                <p>Now, you need to find a comfortable sitting position. There are many positions such as the lotus position, or sitting on a cushion/mat, and much more. The main idea is for your position to be easy and anything that comforts you and makes you feel at rest. You do not need to sit in a specific or special way, it can be whatever you wish.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step 3.</h3>
                <div class="subheading mb-3">Clear your Mind</div>
                <p>Moving on, just clear your head of any previous thoughts, loosen yourself and take deep and slow breaths, focusing on your body and feeling the environment around you.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step 4.</h3>
                <div class="subheading mb-3">Simply sit and observe</div>
                <p>Then, after two or three minutes of deep breathing, simply sit and observe your mind. People think that during meditation, you need to eradicate any thoughts and completely block yourself into a blank state. However, you are supposed to continue to led your mind think about whatever it's thinking about and be a passive observer. Keep thinking and do not engage or harbour any hurtful feelings. Think about your memories, experiences and hobbies that calm you and give you a higher self-esteem.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Step 5.</h3>
                <div class="subheading mb-3">Ending your meditation!</div>
                <p>Finally, nearing the end of your meditation. Slowly ease to your physical state. Feel the environment around you and start making movements. Beware of your body and this can take up to several minutes. After that, slowly open your eyes and get adjusted to the world around you. Do not engange in physical activites immediately and take some time relaxing and calmly working. You can also spend some gratitude to all the things you have in life.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"></span></div>
        </div>
    </div>
</section>

