<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            ELGEEBEETEE
            <span class="text-primary"></span>
        </h1>
        <p class="lead mb-5">Welcome to Elgeebeetee! We are an online community platform specially created for the LGBT community and aim to create a discrimination and tension-free environment for people to join. Take your time discovering the website and and join now by signing up for free and logging in the website as an official user and promote the LGBT community. The website offers a gripping and electrifying forum that allows users who signed up in the website to engage in captivating discussions and also create customizable discussions of their own. Moreover, we also give information about the basics of meditation and how it can help people part of the LGBT overcome and combat discrimination. Enjoy exploring the website, and do contact us at the bottom of the page for any queries. Have fun!</p>
    </div>
</section>

